/*
Author: anoxtovo (Thumula Basura Suraweera)
version: 0.1v (2022V1)
project: Quack Engine 0.1
*/

a{ text-decoration: none; padding: 10px 0px; }

body { background-color: #212121; color:#ffffff; }

hr {
    width: 80%;
    margin: 5px auto;
    height: 5px;
    color: #ffffff;
    background: #ffffff
}

.container {
    min-width: 300px;
    height: auto;
    background-color: #212121;
    color: #ffffff;
}

.container-search {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    min-width: 300px;
    background-color: #212121;
}

.site-logo {
    padding: 50px 0px;
}

.site-logo h1 {
    padding: 0;
    margin: 0;
    border: none;
    align-items: center;
}

.site-logo p {
    padding: 0;
    margin: 0;
    border: none;
}


.header-menu-main ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu-main ul li {
    display: inline;
    padding: 0px 10px;
}

.search-section {
    padding: 29px;
}

.search-box {
    margin: 20px auto;
    padding: 10px;
}

.qe-btn-main {
    width: 100px;
    font-weight: bold;
}

.content-section {
    padding: 20px 15px;
    text-align: justify;
}

/* Footer Section style */
.footer-section {
    padding: 20px;
}

.footer-section a i {
    padding: 5px;
}